
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&family=Niconne&family=Poppins:ital,wght@1,200&family=Roboto:ital,wght@0,700;1,100&display=swap');

.Q7{
    background-color:purple;
    width:150px;
    height: 35px;
    border-radius: 5px;
    color:white;
}

.Q7:hover{
    background-color: aqua;

}

.Q8{
    font-family: Roboto,sans-serif;
}

.Q9{
    background-color: aquamarine;
    width:100px;
    height: 100px;
    transition-duration: 2s;

}

.Q9:hover{
    width:200px;

}

.Q10{
    width:100px;
    height: 100px;
    background-color: rgb(209, 133, 33);
    border-radius: 50%;
}

.Q11{
    width:100px;
    height: 100px;
    background-color: aqua;
}

@media screen and (min-width:300px) and (max-width:1000px) {
    .Q11{
        width:50px;
        height: 20px;
    }
    
}

.Q12{
    width:100px;
    height: 100px;
    background-color: darkcyan;
    animation: demo 10s ease-in 1s 10;
}

@keyframes demo {
   10%{
    width:90px;
    height: 90px;
   }

   50%{
    width:50px;
    height: 50px;
    transform: translate(100px, 100px);
   }

   100%{
    width:20px;
    height: 20px;
   }

    
}

.triangle{
    width:0;
    height: 0;
    border-top:100px solid transparent;
    border-right:100px solid transparent;
    border-bottom:100px solid red;
    border-left:100px solid transparent;

    
}

.Q19{
    background-image: url(./images.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;


}
h1{
    position: relative;
    right:0px;
}

.Q19-btn{
    width:100px;
    height: 40px;
    position: relative;
    right:0px;
    
    

}

.Q20{
    background-color: aqua;
    height:200px;
}
.Q20 button{
    float:right;
    margin-left: 10px;
    margin-top: 50px;
    width:100px;
    background-color: purple;
    color:white;
    border-radius: 10px;
}

.Q20 img{
    width:50px;
    height: 50px;
    margin-top: 50px;
    border-radius: 20px;
}

.Q20 button:hover{
    background-color: red;
}

.Q21{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.items{
    width:200px;
    height: 200px;
    background-image: url(./image1.jpg);

}


.Q22{
    background-color: aqua;
    height: 400px;
}

button{
    background-color: purple;
    color:white;
    width:100px;
    height:24px;
    border-radius: 20px;
    margin-right: 20px;
}

@media screen and (min-width:360px) and (max-width:850px) {
    .fa-btn{
        display:block;
        background-color:green;
        margin-top: 20px;
    }
    
}
@media screen and (min-width:851px) and (max-width:1000px) {
    .fa-btn{
        display:block;
        background-color:red;
        margin-top: 20px;
    }
    
}

/* Q23 */

.flex-container{
    display:flex;
    flex-wrap: wrap;
}

.flex-items{
    width:300px;
    height: 300px;
    background-color: brown;
    margin:10px;
    text-align: center;
}
/* transtion*/

.Q24{
    width:300px;
    height: 300px;
    background-color: black;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;

}


.Q24:hover{
    width:600px;
    
}

/* transform */

.Q25{
    width:200px;
    height: 200px;
    background-color: blueviolet;
    transform:rotate(20deg)

}

/* grid layout */

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-item1{
    height: 200px;
    background-color: wheat;
}

.grid-item2{
    height: 200px;
    background-color:violet;
}
.grid-item3{
    height: 200px;
    background-color: black;
}
.grid-item4{
    height: 200px;
    background-color:red;
}
.grid-item5{
    height: 200px;
    background-color: tan;
}

/* pseduo selectors */

.anchor1:hover{
    color:green;
}

.anchor2:visited{
    color:red;
}


input{
    display: block;
    width:600px;
    height: 40px;
    border: 5px solid black;
    font-size: 33px;
}
input:focus{
    background-color: grey;
    
}